/* html[data-theme='dark'] {
    background: #000;
    filter: invert(1) hue-rotate(180deg)
}

html[data-theme='dark'] img {
  filter: invert(1) hue-rotate(180deg)
}
@media (prefers-color-scheme: dark) {
    img {
      opacity: .75;
      transition: opacity .5s ease-in-out;
    }
    img:hover {
      opacity: 1;
    }
  } */

body {
    background-color: #fbfbfb;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #c8c8c8 !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #c8c8c8 !important;
}

::-moz-placeholder {
    color: #c8c8c8 !important;
}

::-ms-input-placeholder {
    color: #c8c8c8 !important;
}

::placeholder {
    color: #c8c8c8 !important;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

@media screen and (max-width: 768px) {
    .send-date {
        flex-direction: column;
    }
}

.carousel-text {
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: #fff;
}

.gallery-wrap .img-big-wrap img {
    cursor: auto;
}

option {
    color: black;
}

option:disabled {
    color: #c3c3c3;
}

nav .nav-link.active {
    color: #fff !important;
    text-decoration: none;
    background-color: #3167eb;
}

.list-menu a.active {
    color: #3167eb;
}

[class*="list-"] li:after {
    display: none;
}


/*.ss-search-list .list-group-item{
    height: 68.5px; 
}
*/

.search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.search-backdrop.fade {
    transition: opacity 0.15s linear;
}

.search-backdrop.hide {
    display: none;
}

.search-backdrop.show {
    opacity: 0.3;
}

.search-result-container.hide {
    display: none;
}

.search-result-container.show {
    display: inherit;
}

button.list-group-item:focus {
    outline: none;
}

.search-item-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    margin-right: 16px;
}

.close {
    outline: none;
}

.small-slider {
    flex-flow: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    height: 160px;
}

.small-slider::-webkit-scrollbar {}

.small-slider>div {
    display: flex;
    align-items: stretch;
    scroll-snap-align: center;
    flex: 0 0 280px !important;
    align-items: stretch;
    touch-action: pan-x;
}

@media (max-width: 768px) {
    .navbar-main .navbar-collapse.collapse {
        display: none;
        position: fixed;
        z-index: 9999;
        background: rgb(255 255 255);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        align-items: flex-start;
        padding-top: 50px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }
    .navbar-main .navbar-collapse.collapse.show {
        display: block;
    }
}